/*color scheme
#FFFFFF - white
#DBDBDB - light gray
#B3B3B3 - gray
#8A8A8A - dark gray
#616161 - almost black
#000000 - black
*/

body {
    font-family: "Changa", sans-serif ;
    background-color: black;
    color:white;
}